.featuredproduct-section{
    display: grid;
    position: relative;
    top: 1100px;
    justify-content: center;
}

.featuredprod{
    position: relative;
    left: 100px;
    bottom: 50px;
    font-weight: bold;
    font-size: 30px;
}

.featuredprodtext{
    color: #0fc2b0;
}

.featuredprod-lower{  
    display: flex;
    position: relative;
    top: 1150px;
    justify-content: center;
    height: 350px; 
}

.wintercollection{
    background-color: rgb(240, 240, 240);
    position: relative;
    right: 40px;
    width: 350px;
}

.womenjacket{
    background-color: rgb(240, 240, 240);
    position: relative;
    left: 40px;
    width: 350px;
}

.new-look-winter{
    background-color: rgb(240, 240, 240);
    width: 350px;
}

.icon-bar-win{
        display: flex;
        position: relative;
        flex-direction: column;
        left: 290px;
        bottom: 320px;
        height: 220px;
        width: 45px;
        border-radius: 10px;
        background-color: white;
        border: none;
        opacity: 0;
        transition: 0.5s;
}

.new-look-winter:hover .icon-bar-win{
    opacity: 1;
}

.wintercoats{
    position: relative;
    top: 5px;
    left: 10px;
    width: 300px;
}

.winter-women, .women-blazer{
    background-color: rgb(3, 3, 68);
    color: white;
    height: 30px;
    border-radius: 5px;
    position: relative;
    bottom: 19px;
}

.flashsale-section{
    display: flex;
    position: relative;
    top: 1300px;
    height: 350px;
    background-color: rgb(31, 31, 61);
}

.flash-sale{
    background-color: #14dfca;
    position: relative;
    left: 275px;
    width: 250px;
    height: 225px;
}

.flash-sale-text{
    position: relative;
    left: 55px;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.flashsale-info{
    position: relative;
    left: 68px;
    bottom: 35px;
    color: white;
}

.saletext{
    position: relative;
    left: 15px;
}

.button-flashsale{
    position: relative;
    left: 900px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color:white;
    border-color: white;
    color: #14dfca;
    font-weight: bold;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.button-flashsale:hover{
    background-color: #14dfca;
    color: white;
}

.seven-d{
    position: relative;
    bottom: 200px;
    left: 670px;
    text-align: center;
    background-color: white;
    border-radius: 80px;
    height: 130px;
    width: 130px;
    }

.sevenday-text{
    position: relative;
    top: 28px;
    color: #14dfca;
    font-weight: bold;
    font-size:35px;
}

.days-text{
    color: black;
    position: relative;
    top: 35px;
    font-weight: lighter;
    font-size:20px;
}

.twentythreehour{
    position: relative;
    bottom: 345px;
    left: 840px;
    text-align: center;
    background-color: white;
    border-radius: 80px;
    height: 130px;
    width: 130px;
}

.hour-num{
    position: relative;
    top: 28px;
    color: #14dfca;
    font-weight: bold;
    font-size:35px;
}

.hour-text{
    color: black;
    position: relative;
    top: 35px;
    font-weight: lighter;
    font-size:20px;
}

.fourtysixmin{
    position: relative;
    bottom: 490px;
    left: 1001px;
    text-align: center;
    background-color: white;
    border-radius: 80px;
    height: 130px;
    width: 130px;
}

.min-num{
    position: relative;
    top: 28px;
    color: #14dfca;
    font-weight: bold;
    font-size:35px;
}

.min-text{
    color: black;
    position: relative;
    top: 35px;
    font-weight: lighter;
    font-size:20px;
}

.twelvesec{
    position: relative;
    bottom: 630px;
    left: 1160px;
    text-align: center;
    background-color: white;
    border-radius: 80px;
    height: 130px;
    width: 130px;
}

.sec-num{
    position: relative;
    top: 28px;
    color: #14dfca;
    font-weight: bold;
    font-size:35px;
}

.sec-text{
    color: black;
    position: relative;
    top: 35px;
    font-weight: lighter;
    font-size:20px;
}